<%= link_to 'Back', program_path(@program.id), class: "btn btn-default btn-sm" %>
<% if Program.find(@session.program_id).user_id != current_user.id %>
  <h1>Whoops! This session does not belong to you.</h1>
<% else %>
<div class="page-header">
  <h1>Session Page HTML</h1>
</div>
<h2><em><%= @session.name %></em></h2>
<p>Use this to copy and paste into your webpage. If you are using a CMS, you will most likely have an "HTML" button on the text editor. </p>
<p>Please note this does not include CSS styling.</p>
<div style="text-align: center;">
  <%= text_area_tag 'html', @html_page, size: "110x50" %>
</div>
<% end %>