<h1> Welcome! </h1>
<p>This site will take CSVs exported from DoubleDutch event app software and convert them to full conference program pages that can be copied and pasted into any website or CMS.</p>
<%= link_to 'Get Started', programs_path, class: "btn btn-success btn-lg" %>